<%#todo MVCのV（View）----------ヘルパーメソッド %>
<h1>Articles</h1>

Our blog has <%= Article.public_count %> articles and counting!
<%# Visibleコンサーンで定義したクラスメソッド %>

<%#? 上記のコードでは、HTMLの中にERB（Embedded Ruby）も書かれています。ERBとは、ドキュメントに埋め込まれたRubyコードを評価するテンプレートシステムのことです。%>
<ul>
  <% @articles.each do |article| %>
  <%# 「この中のRubyコードを評価する」 %>
    <% unless article.archived? %>
    <%# 評価が偽(false)であれば○○する %>
      <li>
        <%#! <a href="/articles/<%= article.id %>
        <%#! <a href="<%= article_path(article) %>
        <%#? resourcesメソッドは、_urlで終わる「URL」ヘルパーメソッドと、_pathで終わる「パス」ヘルパーメソッドも自動的に設定します。 %>
        <%#! <%= article.title %>
        <%# 「この中のRubyコードを評価し、返された値を出力する」 %>
        <%# </a> %>
        <%= link_to article.title, article %>
        <%# link_toヘルパーを用いると<a>タグが不要になるので、さらに便利です。link_toヘルパーの第1引数はリンクテキスト、第2引数はリンク先です。適切なパスヘルパーを呼び出してオブジェクトをパスに変換します %>
      </li>
    <% end %>
  <% end %>
</ul>

<%= link_to "New Article", new_article_path %>